
.item-quantity{
    text-align: end;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    padding: 20px;
    gap: 20px;
    align-items: center;
    border-bottom: solid black 4px;
}